.app {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.app .header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  height: 4rem;
}

.app .site-logo {
  width: 100%;
  max-width: 300px;
  font-size: 1.5rem;
  color: black;
}

.app .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-left: auto;
}

.app .menu .signup-btn {
  margin-left: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
}

.search h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 24px;
  width: 50rem;
  height: 3rem;
  background-color: white;
  max-width: 95%;
}

.search-container input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 1rem;
  background: transparent;
}

.search-container input:focus {
  outline: none;
}

.search-container button {
  border: none;
  background-color: transparent;
  height: 100%;
  padding: 0 1.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 1.5rem;
}

.search-container button:hover {
  background-color: #f5f5f5;
}

.search-container button:focus {
  outline: none;
}

/* styling the elems above to match the prev styles */

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.question-container .question {
  width: 100%;
  max-width: 50rem;
  margin-bottom: 1rem;
}

.question-container .question h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.question-container .answer {
  width: 100%;
  max-width: 50rem;
  margin-bottom: 1rem;
}

.question-container .answer textarea {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  font-size: 1rem;
  resize: none;
}

.question-container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 50rem;
}

.question-container .buttons button {
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.question-container .buttons button:first-child {
  margin-left: 0;
}

.question-container .buttons button:last-child {
  margin-right: 0;
}

/* the server answer div.out>p */
.out {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  max-width: 90%;
  height: 100vh;
  overflow: hidden;
  margin: auto;
}

.out p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  white-space: pre-line;
  overflow: hidden;
}

/* the chat app */

.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 4rem);
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.chat-container .chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid lightgray;
}

.chat-container .chat-header h1 {
  font-size: 1.5rem;
}

.chat-container .chat-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.chat-container .chat-body .chat-conversation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chat-container .chat-body .chat-conversation .chat-btn-scroll-to-bottom{
  position: absolute;
  bottom: 3rem;
  right: 0;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  /* shadow */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

/* scroll for the chat-conversation, i want the scroll to be scrolled to bottom on any change */
.chat-container .chat-body .chat-conversation::-webkit-scrollbar {
  width: 0.5rem;
}

.chat-container .chat-body .chat-conversation::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat-container .chat-body .chat-conversation::-webkit-scrollbar-thumb {
  background: #888;
}

.chat-container .chat-body .chat-conversation::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-container .chat-body .chat-conversation .chat-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.5rem 0;
}

.chat-container .chat-body .chat-message .chat-message-container {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.chat-container .chat-body .chat-message .chat-message-container .user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}

.chat-container .chat-body .chat-message .chat-message-container .user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-container .chat-body .chat-message .chat-message-container .chat-message-content {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0rem 0.2rem 0.2rem 0.2rem;
  background-color: lightgray;
  /* return to line */
  word-wrap: break-word;
  /* allow wrap in flex */
  flex-wrap: wrap;
}

.chat-container .chat-body .chat-message .chat-message-container .chat-message-content p {
  font-size: 1rem;
  margin-bottom: 0;
}

.chat-container .chat-body .chat-message.sender-user .chat-message-container .chat-message-content {
  background-color: #eaeaea;
}

.chat-container .chat-body .chat-message.receiver-user .chat-message-container .chat-message-content {
  background-color: #eaeaea;
  /* allow text wrap */
  word-wrap: break-word;
  /* allow wrap in flex */
  flex-wrap: wrap;
  /* shrink */
  flex-shrink: 1;
  height: auto;
}

.chat-container .chat-body .chat-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  border-top: 1px solid lightgray;
}

.chat-container .chat-body .chat-form .chat-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.chat-container .chat-body .chat-form .chat-form-container .chat-form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.chat-container .chat-body .chat-form .chat-form-container .chat-form-content input {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(241, 241, 241);
  outline: none;
  padding: 0 0.5rem;
}

.chat-container .chat-body .chat-form .chat-form-container .chat-form-content button {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: #e6e6ff;
  outline: none;
}

.chat-container .chat-body .chat-form .chat-form-container .chat-form-content button:hover {
  background-color: #ebebeb;
}
